.container {
  height: 100vh;
}

img {
  max-width: 100%;
}

.h100 {
  width: 100%;
}

.v100 {
  height: 100%;
}

tbody.numerals td {
  font-variant-numeric: lining-nums tabular-nums;
}

.balance {
  text-wrap: balanced;
}
