html {
  font-size: 20px;
}

body {
  background-color: #555;
  margin: 0;
  padding: 0;
}

.master-container {
  background-color: #f4f4f4;
  margin: auto;
  max-width: 991px;
  min-height: 100vh;
  width: 100%;
}

header {
  background-color: #251c17;
  background-image: url(img/masthead-kingdom.avif);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 18vh;
  overflow-y: hidden;
  width: 100%;
  position: relative;
}

header div.col-12 h1 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}

section h2 {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 2px;
}

@media (min-width: 344px) and (max-width: 575px) {
  header {
    background-position-x: calc(100% + 110px);
  }

  header div.col-12 h1 {
    bottom: 1.5rem;
    font-size: 1.4rem;
    left: 1.5rem;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  header div.col-12 h1 {
    left: 5vw;
  }
}

@media (min-width: 768px) {
  header div.col-12 h1 {
    left: 5vw;
  }
}

@media (min-width: 992px) {
  header {
    height: 25vh;
  }

  header div.col-12 h1 {
    left: 2.3vw;
  }
}

.mountain-bg {
  background-attachment: fixed;
  background-image: url("img/mountain-bg-transparent.webp");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 991px 375px;
}

@media (max-width: 992px) {
  .mountain-bg {
    background-size: contain;
  }
}

@media (orientation: landscape) {
  header {
    height: 25vh;
  }
}

.notbold {
  font-weight: 400;
}

h3 {
  font-size: 1rem;
}

.timelineImage {
  max-width: 100%;
  position: relative;
  z-index: 20;
}

.timelineContainer {
  max-width: 415px;
}

.statueImage {
  max-width: 609px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.statueContainer {
  margin-top: -10px;
}

@media (min-width: 415px) {
  .statueContainer {
    margin-top: -11px;
  }
}

.custom-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--bs-green);
  --bs-popover-header-bg: var(--bs-green);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: 0.5rem;
  box-shadow: var(--bs-box-shadow) !important;
}

.question1,
.question2,
.question3,
.question4,
.question5,
.question6 {
  color: var(--bs-green);
  white-space: nowrap;
}

.kingdomChurchComparisonImage {
  height: auto;
  max-width: 370px;
  width: 100%;
}
