# Enable RewriteEngine
RewriteEngine On

# Redirect old directories to /fp/{same-name}/
Redirect 301 /about-fp/        /fp/about-fp/
Redirect 301 /about-us/        /fp/about-us/
Redirect 301 /church/          /fp/church/
Redirect 301 /cross/           /fp/cross/
Redirect 301 /discipleship/    /fp/discipleship/
Redirect 301 /kingdom/         /fp/kingdom/
Redirect 301 /light-darkness/  /fp/light-darkness/
Redirect 301 /medical-account/ /fp/medical-account/
Redirect 301 /seeking-god/     /fp/seeking-god/
Redirect 301 /sin-definitions/ /fp/sin-definitions/
Redirect 301 /sin-repentance/  /fp/sin-repentance/
Redirect 301 /toc/             /fp/toc/
Redirect 301 /word/            /fp/word/
