Redirect 301 /about-fp/ /fp/en/about-fp/
Redirect 301 /about-us/ /fp/en/about-us/
Redirect 301 /church/ /fp/en/church/
Redirect 301 /cross/ /fp/en/cross/
Redirect 301 /discipleship/ /fp/en/discipleship/
Redirect 301 /kingdom/ /fp/en/kingdom/
Redirect 301 /light-darkness/ /fp/en/light-darkness/
Redirect 301 /medical-account/ /fp/en/medical-account/
Redirect 301 /toc/ /fp/en/toc/
Redirect 301 /word/ /fp/en/word/
