@view-transition {
  navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: fade 0.4s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background-color: #060000;
}

.master-container {
  display: flex;
}

.cover {
  height: auto;
  width: 100%;
}

@media (min-width: 467px) {
  .cover {
    height: 100vh;
    max-width: 792px;
    margin: 0 auto;
    width: auto;
  }
}

@media (orientation: portrait) and (max-width: 767px) {
  .row {
    margin-top: -3vh;
  }
}
