Redirect 301 /fp/about-fp/ /fp/en/about-fp/
Redirect 301 /fp/about-us/ /fp/en/about-us/
Redirect 301 /fp/church/ /fp/en/church/
Redirect 301 /fp/cross/ /fp/en/cross/
Redirect 301 /fp/discipleship/ /fp/en/discipleship/
Redirect 301 /fp/kingdom/ /fp/en/kingdom/
Redirect 301 /fp/light-darkness/ /fp/en/light-darkness/
Redirect 301 /fp/medical-account/ /fp/en/medical-account/