html {
  font-size: 20px;
}

body {
  background-color: #555;
  margin: 0;
  padding: 0;
}

.master-container {
  background-color: #060000;
  margin: auto;
  max-width: 991px;
  width: 100%;
}

a.icclink {
  border-bottom: 1px solid #84481a;
  color: var(--bs-light);
  text-decoration: none !important;
}

a.icclink:hover {
  border-bottom: 1px solid var(--bs-light);
}
