html {
  font-size: 18px;
}

body {
  background-color: #6b6b6b;
}

.master-container {
  background-color: #a0a39c;
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  max-width: 991px;
  position: relative;
  overflow: hidden;
  margin: auto;
  padding: 4rem;
}

.container {
  background-color: #f6f5f1;
  height: unset;
}

main {
  margin: auto;
  max-width: 1248px;
  opacity: 0.8;
  width: 100%;
}

.txt-icc {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.45rem;
  padding-bottom: 0.4rem;
  padding-top: 4rem;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  text-wrap: balance;
}

.txt-fp {
  background-color: #737373;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1rem;
  padding-bottom: 0.4rem;
  text-align: center;
}

.txt-toc {
  font-size: 24px;
  letter-spacing: 0.2rem;
  padding: 1.4rem 0 1.2rem 0;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 26px;
  font-weight: 700;
}

.title-minor {
  font-size: 26px;
  font-weight: 400;
}

.description {
  margin-top: 0.4rem;
}

a.toc-link {
  color: unset;
  display: block;
  text-decoration: none;
  width: 100%;
}

@media (min-width: 550px) {
  .master-container {
    background-size: cover;
  }
}

@media (min-width: 344px) and (max-width: 549px) {
  .master-container {
    padding: 1rem;
  }

  .txt-icc {
    font-size: 16px;
  }

  .txt-fp {
    font-size: 26px;
    letter-spacing: 0.5rem;
    padding-top: 0.9rem;
    padding-bottom: 1.1rem;
  }

  .txt-toc {
    font-size: 20px;
    letter-spacing: 0.2rem;
    padding: 1.4rem 0 1.2rem 0;
  }

  .px-5 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .title {
    font-size: 22px;
  }

  .title-minor {
    font-size: 22px;
  }

  .description {
    margin-top: 0.3rem;
  }
}

footer a {
  text-decoration: underline;
}
